{% extends "../_njk/base.njk" %}
{% block title %}
  Bluewill
{% endblock %}
{% block stylesheet %}
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"> 
  <link rel="stylesheet" href="./css/style.min.css">
{% endblock %}
{% block main %}
<div class="container">
  <section class="bluewill-home">
    <!-- 轮播 -->
    <div class="bluewill-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="bluewill-slider-item swiper-slide">
          <a class="bluewill-href" href="javascript:void(0)" target="_blank">
            <img src="https://via.placeholder.com/750x470" alt="">
          </a>
        </div>
        <div class="bluewill-slider-item swiper-slide">
          <a class="bluewill-href" href="javascript:void(0)" target="_blank">
            <img src="https://via.placeholder.com/750x470" alt="">
          </a>
        </div>
        <div class="bluewill-slider-item swiper-slide">
          <a class="bluewill-href" href="javascript:void(0)" target="_blank">
            <img src="https://via.placeholder.com/750x470" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="bluewill-collection">
      <div class="bluewill-collection-item">
        <a class="bluewill-href" href="javascript:void(0)" target="blank">
          <img class="bluewill-collection-icon" src="https://via.placeholder.com/90x90" alt="">
          <span class="bluewill-collection-text">Flash Sale</span>
        </a>
      </div>
      <div class="bluewill-collection-item">
        <a class="bluewill-href" href="javascript:void(0)" target="blank">
          <img class="bluewill-collection-icon" src="https://via.placeholder.com/90x90" alt="">
          <span class="bluewill-collection-text">OutLets</span>
        </a>
      </div>
      <div class="bluewill-collection-item">
        <a class="bluewill-href" href="javascript:void(0)" target="blank">
          <img class="bluewill-collection-icon" src="https://via.placeholder.com/90x90" alt="">
          <span class="bluewill-collection-text">Daily Hot</span>
        </a>
      </div>
      <div class="bluewill-collection-item">
        <a class="bluewill-href" href="javascript:void(0)" target="blank">
          <img class="bluewill-collection-icon" src="https://via.placeholder.com/90x90" alt="">
          <span class="bluewill-collection-text">Clearance Sale</span>
        </a>
      </div>
      <div class="bluewill-collection-item">
        <a class="bluewill-href" href="javascript:void(0)" target="blank">
          <img class="bluewill-collection-icon" src="https://via.placeholder.com/90x90" alt="">
          <span class="bluewill-collection-text">Hot reviews</span>
        </a>
      </div>
    </div>

    <!-- 产品列表 -->
    <div class="bluewill-sell">
      <ul class="bluewill-sell-list">
        <li class="bluewill-sell-item">
          <a class="bluewill-href" href="javascript:void(0)">
            <div class="bluewill-sell-content">
              <img class="bluewill-sell-pic" src="https://via.placeholder.com/260x260" alt="">
              <p class="bluewill-sell-title">
                AUKEY Wireless Charging Earbuds Elevation AUKEY Wireless Charging Earbuds Elevation
              </p>
              <div class="bluewill-sell-price">
                <p class="bluewill-sell-price-save">At Least $<span>939.99</span></p>
                <p class="bluewill-sell-price-pre">$199.99</p>
              </div>
              <span class="bluewill-sell-discount">-30%</span>
            </div>
          </a>
        </li>
        <li class="bluewill-sell-item">
          <a class="bluewill-href" href="javascript:void(0)">
            <div class="bluewill-sell-content">
              <img class="bluewill-sell-pic" src="https://via.placeholder.com/260x260" alt="">
              <p class="bluewill-sell-title">
                AUKEY Wireless Charging Earbuds Elevation AUKEY Wireless Charging Earbuds Elevation
              </p>
              <div class="bluewill-sell-price">
                <p class="bluewill-sell-price-save">At Least $<span>939.99</span></p>
                <p class="bluewill-sell-price-pre">$199.99</p>
              </div>
              <span class="bluewill-sell-discount">-30%</span>
            </div>
          </a>
        </li>
        <li class="bluewill-sell-item">
          <a class="bluewill-href" href="javascript:void(0)">
            <div class="bluewill-sell-content">
              <img class="bluewill-sell-pic" src="https://via.placeholder.com/260x260" alt="">
              <p class="bluewill-sell-title">
                AUKEY Wireless Charging Earbuds Elevation AUKEY Wireless Charging Earbuds Elevation
              </p>
              <div class="bluewill-sell-price">
                <p class="bluewill-sell-price-save">At Least $<span>939.99</span></p>
                <p class="bluewill-sell-price-pre">$199.99</p>
              </div>
              <span class="bluewill-sell-discount">-30%</span>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <!-- 底部导航 -->
    <div class="bluewill-nav">
      <div class="bluewill-nav-item bluewill-nav-item-active">
        <a class="bluewill-href" href="javascript:void(0)">
          <img class="bluewill-nav-icon" src="https://via.placeholder.com/80x40" alt="">
          <span class="bluewill-nav-text">Home</span>
        </a>
      </div>
      <div class="bluewill-nav-item">
        <a class="bluewill-href" href="javascript:void(0)">
          <img class="bluewill-nav-icon" src="https://via.placeholder.com/80x40" alt="">
          <span class="bluewill-nav-text">Bluewill</span>
        </a>
      </div>
      <div class="bluewill-nav-item">
        <a class="bluewill-href" href="javascript:void(0)">
          <img class="bluewill-nav-icon" src="https://via.placeholder.com/80x40" alt="">
          <span class="bluewill-nav-text">Me</span>
        </a>
      </div>
    </div>
  </section>
</div>
{% endblock %}
{% block javascript %}
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
  <script type="text/javascript">
    $(document).ready(function(){
      var mySwiper = new Swiper ('.bluewill-slider', {
          loop: true,
          autoplay: true,
        })
      });
  </script>
{% endblock %}