{% extends "./_njk/base.njk" %}
{% block stylesheet %}
  <link rel="stylesheet" href="./css/about.min.css">
{% endblock %}
{% block main %}
  <div class="aboutus">
    <section class="aboutus-section aboutus-banner">
      <div class="aboutus-container">
        <div class="aboutus-banner-content">
          <h3 class="aboutus-banner-title">
            ABOUT TRUE IMAGE
          </h3>
          <p class="aboutus-banner-desc">We are on a mission to provide premium OEM toner replacements at a great price</p>
        </div>
      </div>
    </section>
    <section class="aboutus-section aboutus-intro">
      <div class="aboutus-container">
        <div class="aboutus-intro-content">
          <p class="aboutus-word">True Image is a premium supplier of high-quality and affordable aftermarket toner cartridges. We work with a global leading manufacturer to offer extensive products range covering all major OEM brands including Brother, Canon, Dell, HP, Samsung, Xerox, OKI, Kyocera, and many other brands. Each product is checked by our dedicated Quality Control team assuring the highest quality standards on all of our products. We aim to provide our customers with an industry-leading product & service. True Image makes an everyday effort to reduce waste using recycled products and green materials. We love to help you go green and save money as well.</p>
          <a class="aboutus-intro-button" href="#ecoFriendly">Subscribe Now</a>
        </div>
      </div>
    </section>
    <section class="aboutus-section aboutus-quality">
      <div class="aboutus-container">
        <div class="aboutus-quality-content">
          <div class="aboutus-descbox">
            <h4 class="aboutus-title">We Take <span>Qually Seriously</span></h4>
            <p class="aboutus-sub">Certifications</p>
          </div>
          <img class="aboutus-quality-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-quality_b1090e41-6720-46e5-b238-30e4eb456dbc.png?v=1624951211" alt="">
          <p class="aboutus-word">Our toner cartridges have gotten STMC, ISO 9001, ISO 14001, CE, RoHS, REACH and Nordic Swan certified. We can also provide MSDS for all toner cartridges if requested.</p>
        </div>
      </div>
    </section>
    <section class="aboutus-section aboutus-control">
      <div class="aboutus-container">
        <div class="aboutus-control-content">
          <div class="aboutus-show">
            <img class="aboutus-show-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-picshow-1_34d209d3-c4d1-49e6-888d-b5e650023993.png?v=1624951211" alt="">
            <div class="aboutus-show-word">
              <h5 class="aboutus-show-title">Quality Control System</h5>
              <p class="aboutus-word">Our first-class supplier has set up its own quality management standards. guality control system. and strict product testing system(functional, reliability, life testing)to ensure every product you receive is well-manufactured high-quality, and reliabl.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="aboutus-section aboutus-service">
      <div class="aboutus-container">
        <div class="aboutus-descbox">
          <h4 class="aboutus-title">We Put <span>People At First</span></h4>
          <p class="aboutus-sub">People are the center of everything we do</p>
        </div>
        <div class="aboutus-show">
          <div class="aboutus-show-word">
            <h5 class="aboutus-show-title">Professional Customer Service</h5>
            <p class="aboutus-word">Benefiting our customers is our priority. To make our customer service is responsive and professional, the customer complaint process system is set up one month after the formation of our Marketing and Customer Service Center.</p>
          </div>
          <img class="aboutus-show-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-picshow-2_3fecf411-8ff8-4f4c-b486-44b1a9eb5318.png?v=1624951211" alt="">
        </div>
        <div class="aboutus-show">
          <img class="aboutus-show-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-picshow-3_c8f3e092-8cab-468d-959e-99263a028f38.png?v=1624951211" alt="">
          <div class="aboutus-show-word">
            <h5 class="aboutus-show-title">Employee Happiness</h5>
            <p class="aboutus-word">More than 2000 skilled employees are crafting eco-friendly toner cartridges in environmentally controlled production lines. True Image and our partner are working together to ensure fair wages, safe work environments, and benefits for families and their children.</p>
          </div>
        </div>
      </div>
    </section>
    <section class="aboutus-section aboutus-tech">
      <div class="aboutus-container">
        <div class="aboutus-descbox">
          <h4 class="aboutus-title">We Make <span>Our Own Way</span></h4>
          <p class="aboutus-sub">Technologies and innovations drive development</p>
        </div>
        <h5 class="aboutus-tech-title">Self-developede Tchnologies </h5>
        <ul class="aboutus-tech-list">
          <li class="aboutus-tech-item">
            <img class="aboutus-tech-num" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-number-1_a3b2cc66-1418-4c81-8690-3d8d529460c6.png?v=1624951210" alt="">
            <p class="aboutus-word">Our parterner has been awarded over 420 patents worldwide.</p>
          </li>
          <li class="aboutus-tech-item">
            <img class="aboutus-tech-num" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-number-2_515f4e81-73b0-4fad-82b2-44c564aa7e45.png?v=1624951210" alt="">
            <p class="aboutus-word">Entering the USA market without being affected by GEOs with GearTek and Smart Gear Solutions.</p>
          </li>
          <li class="aboutus-tech-item">
            <img class="aboutus-tech-num" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-number-3_2979e57d-94b7-4583-8d08-f74f7d77be72.png?v=1624951210" alt="">
            <p class="aboutus-word">Canon admits our parterner's Smart Gear2 Solution does not infringe.</p>
          </li>
          <li class="aboutus-tech-item">
            <img class="aboutus-tech-num" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-number-4_405db06f-7328-4977-88a5-a59b9bc954c4.png?v=1624951210" alt="">
            <p class="aboutus-word">Markman Ruling clears our parterner's Smart Gear2 Solution of infringing Canon patents.</p>
          </li>
          <li class="aboutus-tech-item">
            <img class="aboutus-tech-num" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-number-5_eb5126fa-91a2-4548-90de-a2599e90c209.png?v=1624951210" alt="">
            <p class="aboutus-word">Brother agrees that our parterner's  newly designed products do not infringe its asserted patents in 337 Investigation.</p>
          </li>
        </ul>
        <ul class="aboutus-tech-icon">
          <li class="aboutus-tech-iconitem">
            <img class="aboutus-tech-icon-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-tech-1_80594617-74c5-4c99-8721-1bd85206275e.png?v=1624951211" alt="">
            <p class="aboutus-tech-icon-word">Smart Gear(Non-dongle Gear <br>Overcome 337-ta-918 GEO</p>
          </li>
          <li class="aboutus-tech-iconitem">
            <img class="aboutus-tech-icon-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-tech-2_d77dcce8-3d83-445e-9d84-e17002c18547.png?v=1624951211" alt="">
            <p class="aboutus-tech-icon-word">Geartek(Ｎon-twisted Gear <br>Overcome 337-ta-829 GEO</p>
          </li>
          <li class="aboutus-tech-iconitem">
            <img class="aboutus-tech-icon-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-tech-3_1b4a2bbb-7edc-4d00-a656-4cb2d1d42920.png?v=1624951211" alt="">
            <p class="aboutus-tech-icon-word">Smart Gear=(Non-dongle Gear <br>Admitted by Canon dose not <br>infringe its patent</p>
          </li>
        </ul>
        <img class="aboutus-tech-titlepic" id="ecoFriendly" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-title1_a11bc034-f7d0-46e8-95bf-df3b93ec5a97.png?v=1624951211" alt="">
        <p class="aboutus-word">The improved roller works perfectly in different environments and  reduces ozone, CO2, and SO2 emissions during printing. </p>
      </div>
    </section>
  </div>
{% endblock %}
{% block javascript %}
  <script src="https://cdn.bootcdn.net/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
  <script>

  </script>
{% endblock %}