{% extends "./_njk/base.njk" %}
{% block stylesheet %}
  <link rel="stylesheet" href="./css/contact.min.css">
{% endblock %}
{% block main %}
  <div class="contactus">
    <section class="contactus-section contactus-banner">
      <div class="contactus-container">
        <div class="contactus-banner-content">
          <h3 class="contactus-banner-title">
            NEED SUPPORT？
          </h3>
          <p class="contactus-banner-desc">Were here for all your questions. Contact us for help on everything from searching toner cartridge to wholesale request. </p>
        </div>
      </div>
    </section>
    <section class="contactus-section contactus-ways">
      <div class="contactus-container">
        <div class="contactus-ways-content">
          <div class="contactus-ways-item">
            <a class="contactus-ways-href" href="javascript:void(0)">
              <i class="contactus-ways-icon contactus-ways-icon-livechat"></i>
              <h4 class="contactus-ways-title">Start Chat</h4>
              <p class="contactus-ways-desc">Start a conversation with our online customer service.</p>
              <p class="contactus-ways-info">Start Chat</p>
            </a>
          </div>
          <div class="contactus-ways-item">
            <a class="contactus-ways-href" href="mailto:cs@trueimagetech.com">
              <i class="contactus-ways-icon contactus-ways-icon-email"></i>
              <h4 class="contactus-ways-title">Email</h4>
              <p class="contactus-ways-desc">Send us a message using our Contact Form to let us know your concern. We do our best to get back to you within 24–48 hours.</p>
              <p class="contactus-ways-info">cs@trueimagetech.com</p>
            </a>
          </div>
          <div class="contactus-ways-item">
            <a class="contactus-ways-href" href="tel:(855) 412-1136">
              <i class="contactus-ways-icon contactus-ways-icon-phone"></i>
              <h4 class="contactus-ways-title">Phone Call</h4>
              <p class="contactus-ways-desc">Give us a phone call. We hear you out. (Monday to Friday 9am to 5pm PST)</p>
              <p class="contactus-ways-info">(855) 412-1136</p>
            </a>
          </div>
          <div class="contactus-ways-item">
            <a class="contactus-ways-href" href="javascript:void(0)">
              <i class="contactus-ways-icon contactus-ways-icon-whole"></i>
              <h4 class="contactus-ways-title">Wholesale</h4>
              <p class="contactus-ways-desc">Send us a message using our wholesale quote request form . We do our best to get back to you within 24–48 hours.</p>
              <p class="contactus-ways-info">cs@trueimagetech.com</p>
            </a>
          </div>
        </div>
      </div>
    </section>
    <section class="contactus-section contactus-essential">
      <div class="contactus-container">
        <div class="contactus-essential-item">
          <img class="contactus-essential-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/contactus-pic-1.jpg?v=1625207595" alt="">
          <div class="contactus-essential-word">
            <h4 class="contactus-essential-title">Whatever and whenever you ask, we answer.</h4>
            <p class="contactus-essential-desc">No matter it's about finding a toner cartridge, installation problem, switching chip or anything else related to the orders, products or service, just ask! Really!</p>
          </div>
        </div>
        <div class="contactus-essential-item">
          <div class="contactus-essential-word">
            <h4 class="contactus-essential-title">Enjoy our risk-free 1-year warranty.</h4>
            <p class="contactus-essential-desc">We offer a one-year guarantee on all our cartridges. Need any help? We’ll help to troubleshoot, exchange or give a full refund.</p>
          </div>
          <img class="contactus-essential-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/contactus-pic-2.jpg?v=1625207595" alt="">
        </div>
        <div class="contactus-essential-item">
          <img class="contactus-essential-pic" src="https://cdn.shopify.com/s/files/1/0560/1276/7399/files/contactus-pic-3.jpg?v=1625207595" alt="">
          <div class="contactus-essential-word">
            <h4 class="contactus-essential-title">Easy return & exchange process.</h4>
            <p class="contactus-essential-desc">Having problems with the toner cartridge? Need a return or exchange? Please do not hesitate to contact us! We make our best to help with return or refund.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
{% block javascript %}
  <script src="https://cdn.bootcdn.net/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
  <script>

  </script>
{% endblock %}