{% extends "./_njk/base.njk" %}
{% block main %}
  <div class="wrapper">
    <div class="wrapper-content">
      <div class="part part-contactus">
        <div class="contactus-content">
          <div class="part-title">
            <h2 class="part-title-big">联系我们</h2>
          </div>
          <div class="contactus-list">
            <div class="contactus-item">
              <div class="contactus-side contactus-left">公司：</div>
              <div class="contactus-side contactus-right"><a href="javascript:void(0)">傲基科技股份有限公司</a></div>
            </div>
            <div class="contactus-item">
              <div class="contactus-side contactus-left">邮件：</div>
              <div class="contactus-side contactus-right"><a href="mailto:chengang01@aukeys.com">chengang01@aukeys.com</a></div>
            </div>
            <div class="contactus-item">
              <div class="contactus-side contactus-left">电话：</div>
              <div class="contactus-side contactus-right"><a href="javascript:void(0)">15607734040</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="part part-legal">
          © 2019-2021 AUKEY. All Rights Reserved. 粤ICP备16066668号-3
      </div>
    </div>
  </div>
{% endblock %}