{% extends "./_njk/base.njk" %}
{% block main %}
  <div class="wrapper">
    <div class="wrapper-content">
      <div class="nav">
        <div class="part part-section">
          <a class="nav-href" href="./contact.html">联系我们</a>
        </div>
      </div>
      <div class="part part-banner">
        <img class="pic pic-banner" src="./img/pic-banner.jpg" alt="">
      </div>
      <div class="part part-section part-partner">
        <div class="part-title">
          <h2 class="part-title-big">生态合作伙伴</h2>
        </div>
        <div class="partner-list">
          <div class="partner-item">
            <h3 class="partner-item-title">跨境电商</h3>
            <img class="pic pic-partner" src="./img/pic-partner-1.png" alt="">
          </div>
          <div class="partner-item">
            <h3 class="partner-item-title">跨境物流</h3>
            <img class="pic pic-partner" src="./img/pic-partner-3.png" alt="">
          </div>
          <div class="partner-item">
            <h3 class="partner-item-title">海外仓库</h3>
            <img class="pic pic-partner" src="./img/pic-partner-2.png" alt="">
          </div>
        </div>
      </div>
      <div class="part part-section part-customer">
        <div class="part-title">
          <h2 class="part-title-big">我们的客户</h2>
        </div>
        <img class="pic pic-map" src="./img/pic-map.jpg" alt="">
      </div>
      <div class="part part-section part-feature">
        <div class="part-title">
          <h2 class="part-title-big">我们的核心功能</h2>
        </div>
        <div class="feature-list">
          <div class="feature-item">
            <h5 class="feature-title">系统管理</h5>
            <p class="feature-desc">用户管理，角色管理，操作日志</p>
          </div>
          <div class="feature-item">
            <h5 class="feature-title">财务管理</h5>
            <p class="feature-desc">供应商结算，账单统计，付款审批</p>
          </div>
          <div class="feature-item">
            <h5 class="feature-title">物流管理</h5>
            <p class="feature-desc">费用模板，物流商授权，物流映射</p>
          </div>
          <div class="feature-item">
            <h5 class="feature-title">商品管理</h5>
            <p class="feature-desc">线上对应，属性维护，权限管理</p>
          </div>
          <div class="feature-item">
            <h5 class="feature-title">采购管理</h5>
            <p class="feature-desc">多级审批，采购建议</p>
          </div>
          <div class="feature-item">
            <h5 class="feature-title">报表统计</h5>
            <p class="feature-desc">运营报表，库存统计，广告分析</p>
          </div>
          <div class="feature-item">
            <h5 class="feature-title">订单管理</h5>
            <p class="feature-desc">只能拆单，自动拉单下发</p>
          </div>
          <div class="feature-item">
            <h5 class="feature-title">库存管理</h5>
            <p class="feature-desc">先进先出，数据可视，智能补货</p>
          </div>
          <div class="feature-item">
            <h5 class="feature-title">客服支持</h5>
            <p class="feature-desc">邮件收发，反馈及时</p>
          </div>
        </div>
      </div>
      <div class="part part-contact">
        <div class="part-title">
          <h2 class="part-title-big">我们的联系方式</h2>
        </div>
        <div class="contact-content">
          <p class="contact-desc">有问题吗？给我们发电子邮件</p>
          <p class="contact-desc">
            <a href="mailto:chengang01@aukeys.com">chengang01@aukeys.com.</a>我们会在24小时内回复您！
          </p>
        </div>
      </div>
      <div class="part part-legal">
          © 2019-2021 AUKEY. All Rights Reserved. 粤ICP备16066668号-3
      </div>
    </div>
  </div>
{% endblock %}
