*{
  margin: 0;
  padding: 0;
}
.aboutus{
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden;
  &-container{
    width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  &-section{
    width: 100%;
    position: relative;
  }
  &-descbox{
    padding: 65px 0;
  }
  &-title{
    font-size: 36px;
    color: #111111;
    line-height: 1.38;
    margin-bottom: 12px;
    span{
      color: #fe5266;
    }
  }
  &-sub{
    font-size: 26px;
    color: #666;
  }
  &-word{
    font-size: 16px;
    color: #333333;
    line-height: 1.68;
  }
  &-banner{
    width: 100%;
    height: 640px;
    background-image: url('https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-banner_f7f08746-ec22-42ad-abcd-338703eae943.jpg?v=1624951210');
    background-size: cover;
    background-position: center center;
    &-content{
      color: #fff;
      padding-top: 145px;
    }
    &-title{
      font-size: 56px;
      margin-bottom: 80px;
      position: relative;
      line-height: 1.38;
      &::after{
        content: '';
        width: 50px;
        height: 8px;
        background: url('https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-icon-deco-1_a063db63-4d07-407a-831b-385c19b412bc.png?v=1624951210');
        background-size: 100% 100%;
        position: absolute;
        left: 0;
        bottom: -20px;
      }
    }
    &-desc{
      font-size: 24px;
      line-height: 1.68;
    }
  }
  &-intro{
    width: 100%;
    height: 395px;
    background-image: url('https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-bg-subscribe_f53ca278-8bb6-4acd-b7fd-6f86375c9ec8.png?v=1624951210');
    background-size: cover;
    background-repeat: repeat-y;
    &-content{
      padding-top: 80px;
    }
    &-button{
      display: block;
      margin: 60px auto 0;
      width: 180px;
      height: 60px;
      background: url('https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-button-subscribe_ddca11e6-09d4-456a-a2a0-597335bb537a.png?v=1624951210') no-repeat;
      background-size: 100% 100%;
    }
  }
  &-quality{
    text-align: center;
    height: 720px;
    background: url('https://cdn.shopify.com/s/files/1/0560/1276/7399/files/aboutus-bg-quality_0503b0ea-70b7-4256-83b9-70d07d2fade2.png?v=1624951211') no-repeat;
    background-size: cover;
    background-position: center center;
    &-pic{
      display: block;
      width: 900px;
      margin: 0 auto 20px;
    }
  }
  &-control{
    padding: 90px 0;
  }
  &-show{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-items: center;
    justify-content: center;
    box-shadow: 0px 5px 16px 0px rgba(216, 216, 216, 0.42);
    background: #fff;
    &-pic{
      width: 39%;
      display: block;
    }
    &-word{
      text-align: left;
      width: 61%;
      padding: 0 140px 0 100px;
    }
    &-title{
      font-size: 24px;
      color: #333;
      position: relative;
      line-height: 1.38;
      margin-bottom: 50px;
      &::after{
        content: '';
        width: 32px;
        height: 2px;
        background: #e74b5c;
        position: absolute;
        left: 0;
        bottom: -20px;
      }
    }
  }
  &-service{
    background-color: #f9f5f5;
    text-align: center;
    padding-bottom: 10px;
    .aboutus-show{
      margin-bottom: 80px;
    }
  }
  &-tech{
    text-align: center;
    padding-bottom: 60px;
    &-title{
      font-size: 24px;
      color: #333;
      text-align: left;
      margin-bottom: 30px;
    }
    &-list{
      text-align: left;
      margin-bottom: 70px;
    }
    &-item{
      font-size: 0;
      list-style: none;
      margin-bottom: 10px;
      .aboutus-word{
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 44px);
      }
    }
    &-num{
      display: inline-block;
      vertical-align: top;
      width: 22px;
      margin-right: 22px;
      margin-top: 6px;
    }
    &-icon{
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      text-align: center;
      margin-bottom: 50px;
      &-pic{
        display: inline-block;
        width: 300px;
        margin-bottom: 20px;
      }
      &item{
        list-style: none;
      }
      &-word{
        font-size: 14px;
        line-height: 1.68;
      }
    }
    &-titlepic{
      width: 440px;
      display: block;
      margin: 0 auto 40px;
    }
  }
}

@media (max-width:1399px) {
  .aboutus-container{
    width: 900px;
  }
  .aboutus-show-word{
    padding: 0 40px 0 50px;
  }
  .aboutus-tech-icon-pic{
    width: 260px;
  }
}
@media (max-width:1024px) {
  .aboutus-container{
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }
  .aboutus-quality-pic{
    width: 100%;
  }
  .aboutus-tech-iconitem{
    width: 33.333%;
  }
  .aboutus-tech-icon-pic{
    width: 180px;
  }
  .aboutus-tech-titlepic{
    width: 300px;
  }
  .aboutus-banner-title{
    font-size: 45px;
  }
  .aboutus-intro-content{
    padding-top: 40px;
  }
  .aboutus-intro-button{
    display: block;
    margin: 40px auto 0;
    width: 150px;
    height: 50px;
  }
  .aboutus-title{
    font-size: 28px;
  }
  .aboutus-sub{
    font-size: 24px;
  }
  .aboutus-quality{
    height: 540px;
  }
  .aboutus-show-title{
    font-size: 18px;
    margin-bottom: 30px;
  }
  .aboutus-show-title:after{
    bottom: -10px;
  }
  .aboutus-word{
    font-size: 14px;
    line-height: 1.5;
  }
  .aboutus-show-word{
    padding: 10px 20px 10px 30px;
  }
  .aboutus-descbox{
    padding: 40px 0;
  }
  .aboutus-control{
    padding: 60px 0;
  }
  .aboutus-intro{
    height: 350px;
  }
  .aboutus-service .aboutus-show{
    margin-bottom: 50px;
  }
}
@media (max-width:767px) {
  .aboutus-container{
    padding-left: 20px;
    padding-right: 20px;
  }
  .aboutus-banner{
    height: 600px;
  }
  .aboutus-banner-title{
    font-size: 28px;
  }
  .aboutus-banner-title:after{
    height: 6px;
    bottom: -14px;
  }
  .aboutus-banner-desc{
    font-size: 16px;
  }
  .aboutus-tech-icon-pic{
    width: 90px;
  }
  .aboutus-banner-content{
    padding-top: 90px;
  }
  .aboutus-word{
    line-height: 1.72;
  }
  .aboutus-intro{
    height: 500px;
  }
  .aboutus-intro-button{
    width: 120px;
    height: 40px;
  }
  .aboutus-title{
    font-size: 18px;
  }
  .aboutus-sub{
    font-size: 15px;
  }
  .aboutus-quality{
    height: 430px;
  }
  .aboutus-show{
    flex-wrap: wrap;
  }
  .aboutus-show-pic{
    width: 100%;
  }
  .aboutus-show-word{
    width: 100%;
    padding: 20px;
  }
  .aboutus-show-title{
    font-size: 16px;
  }
  .aboutus-control{
    padding: 40px 0;
  }
  .aboutus-show-word{
    order: 2;
  }
  .aboutus-show-pic{
    order: 1;
  }
  .aboutus-service .aboutus-show{
    margin-bottom: 20px;
  }
  .aboutus-tech-title{
    font-size: 15px;
  }
  .aboutus-tech-icon-word{
    font-size: 12px;
  }
  .aboutus-tech-titlepic{
    width: 220px;
  }
  .aboutus-tech-list{
    margin-bottom: 40px;
  }
}