{% extends "./_njk/base.njk" %}
{% block main %}
  <div class="sr-product-description">
    <div class="sr-desc-card">
      <h3>PowerZeus 500 Portable Power Station 518Wh</h3>
      <h4>Early Bird $50 Off</h4>
      <p class="sr-desc-li">Home Backup Power: Provides pure sine wave 110V AC just like the outlet at home. 518Wh huge capacity provides 16 extra hours of drone flying, 24 more hours of phone video recording, 18 hours of professional lighting, or an extra 10 hours of continuous live streaming from a remote location. Great for hiking, camping, RV travel, and hunting</p>
      <p class="sr-desc-li">Four Useful USB Ports: 2x USB-A, 1x USB-A (Quick Charge 3.0), and 1x USB-C (up to 18W PD) ports. Support fast charging your iPhones, Samsung smartphones, laptops, and other devices. Charge 4 usb-powered devices at the same time</p>
      <p class="sr-desc-li">2x AC Outlets: Total 500W max. Power small household blender, water heater, juicer, ice maker, CPAP, great for outdoor parties, at-home-medicalized and emergency power-backup. Note the total rated wattage should be under 500w (surge 1000w)</p>
      <p class="sr-desc-li">Safe, Efficient and Clean: Has an extremely wide operating range of between 0°C and 40°C (32°F and 104°F), and will shut down safely when outside this temperate band. The built-in MPPT technology provides faster solar recharge rates</p>
      <p class="sr-desc-li">Package Contents: AUKEY PS-MC05 PowerZeus 500 Power Station, AC adapter, vehicle DC socket (cigarette lighter) adapter, Quick Start Guide, user manual, warranty card</p>
    </div>
    <h2>Payment & Security</h2>
    <img class="sr-pic-block" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-payment-security.png?v=1620301807" alt="">
    <div class="sr-desc-block sr-desc-block-center">
      <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-desc-powerstation-type1-1.jpg?v=1620385228" alt="">
    </div>
    <div class="sr-desc-block sr-desc-block-center">
      <h1>Power Your Productivity</h1>
      <p>518Wh | 7-Way Output | USB-C PD | Solar Recharging</p>
      <p>Stay creative and connected wherever you go. Generate your own power out in the wild via solar panels. Also able to fast-charge your various devices with PD and QC 3.0 ports. Meet the PowerZeus 500, a reliable home backup supply during unexpected blackouts.</p>
      <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/powerstation-slide-3.jpg?v=1620385228" alt="">
    </div>
    <div class="sr-desc-block sr-desc-block-center">
      <h1>Backup Power.<br> Ready-To-Go Adventure.</h1>
      <p>Provides pure sine wave 110V AC just like the outlet at home. 518Wh huge capacity provides 16 extra hours of drone flying, 24 more hours of phone video recording, 18 hours of professional lighting, or an extra 10 hours of continuous live streaming from a remote location. Great for hiking, camping, RV travel, and hunting.</p>
      <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/powerstation-slide-4.jpg?v=1620385228" alt="">
    </div>
    <div class="sr-desc-block sr-desc-block-center">
      <h1>Convenient and Future-Proof Charging</h1>
      <p>Four Useful USB Ports: 2x USB-A, 1x USB-A (Quick Charge 3.0), and 1x USB-C (up to 18W PD) ports. Support fast charging your iPhones, Samsung smartphones, laptops, and other devices. Charge 4 USB-powered devices at the same time. Designed to work with most popular USB-powered devices including USB-C laptops, tablets, iPhones, Android phones, wireless speakers & headphones, wearables, and photography gear.</p>
      <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/powerstation-slide-5.jpg?v=1620385228" alt="">
    </div>
    <div class="sr-desc-block sr-desc-block-center">
      <h1>Safe, Efficient and Clean</h1>
      <p>Has an extremely wide operating range of between 0°C and 40°C (32°F and 104°F), and will shut down safely when outside this temperate band.</p>
      <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/powerstation-slide-6.jpg?v=1620385228" alt="">
    </div>
    <div class="sr-desc-block sr-desc-block-center">
      <h1>Go off the Grid. Go Green.</h1>
      <p>Support for solar recharging means you can generate your own power out in the wild. Also able to fast-charge your various devices with PD and QC 3.0 ports.</p>
      <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-desc-powerstation-type1-2.jpg?v=1620385228" alt="">
    </div>
    <div class="sr-desc-block sr-desc-block-center">
      <h1>GStay Powered in Emergencies</h1>
      <p>Clean and quiet, the PowerZeus 500 is a reliable home backup supply during unexpected blackouts. 2x AC Outlets: Total 500W max. Power small household blender, water heater, juicer, ice maker, CPAP, great for outdoor parties, at-home-medicalized and emergency power-backup. Note the total rated wattage should be under 500w (surge 1000w)</p>
      <div class="sr-desc-row">
        <div class="sr-desc-col-4 sr-desc-col-12">
          <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-desc-powerstation-type2-1.jpg?v=1620385229" alt="">
        </div>
        <div class="sr-desc-col-4 sr-desc-col-12">
          <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-desc-powerstation-type2-2.jpg?v=1620385229" alt="">
        </div>
        <div class="sr-desc-col-4 sr-desc-col-12">
          <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-desc-powerstation-type2-3.jpg?v=1620385229" alt="">
        </div>
      </div>
      <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-desc-powerstation-type1-3.jpg?v=1620385228" alt="">
    </div>
    <div class="sr-desc-block sr-desc-block-center">
      <h1>Wide Compatibility</h1>
      <p>Not For Devices Rated Over 500W <br> While 500W is a lot, it's not enough for certain appliances like kettles, induction cookers and hair dryers. Check the wattage of the equipment you want to power in advance.</p>
      <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-desc-powerstation-type1-4.jpg?v=1620385228" alt="">
      <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-desc-powerstation-type1-6.jpg?v=1620385228" alt="">
      <a href="https://www.amazon.com/AUKEY-PowerZeus-Lithium-ion-Compatible-Emergencies/dp/B08Q879GVZ/ref=as_li_ss_tl?dchild=1&keywords=aukey+power+station&qid=1609415152&sr=8-4&linkCode=ll1&tag=shop-ps-mc05-20&linkId=3991023740b0d26701ef5218c91d5249&language=en_US">
        <img class="sr-pic-block sr-pic-fullwidth" src="https://cdn.shopify.com/s/files/1/0519/2148/6021/files/product-desc-powerstation-type1-5.jpg?v=1620385228" alt="">
      </a>
    </div>
    <div class="sr-desc-block">
      <h1>Specification</h1>
      <ul class="sr-desc-block-list">
        <li>Model: PS-MC05</li>
        <li>Capacity: 518Wh (28.8Ah, 18V)</li>
        <li>Battery Type: Lithium-ion</li>
        <li>DC Input: 5-30V, 3A</li>
        <li>AC Outputs (2): 100-120V/60Hz, 500W (1000W peak)</li>
        <li>DC Outputs (2): 12V, 6A (DC port); 12V, 8A (car port);</li>
        <li>Total DC Output: 120W</li>
        <li>USB Outputs (2): 5V, 4.8A (total)</li>
        <li>USB QC 3.0 Output: 5V, 3A / 9V, 2A / 12V, 1.5A (max 18W)</li>
        <li>USB-C PD Output: 5V/3A,9V/2A,12V/1.5A</li>
        <li>Weight: 14.3 lbs</li>
        <li>Dimensions: 12.1 x 7.1 x 7.6 in</li>
      </ul>
    </div>
  </div>  
{% endblock %}