{% extends "./_njk/base.njk" %}
{% block main %}
   <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">    
   <script src="https://unpkg.com/swiper/swiper-bundle.min.js"> </script>
   <div class="jumprope-container">
      <div class="jumprope-part jumprope-part1">
        <div class="jumprope-content jumprope-part1-top">free shipping on subscriptions and orders<br> over $35</div>
        <div class="jumprope-content jumprope-nav jumprope-nav-fixed">
          <p class="jumprope-nav-word">Smart Jump Rope</p>
          <a class="jumprope-nav-btn" href="#"></a>
        </div>
        <img class="jumprope-pic" src="./img/jumprope_pic-p1.jpg" alt="">
      </div>
      <div class="jumprope-part jumprope-part2">
        <img class="jumprope-pic" src="./img/jumprope_pic-p2.jpg" alt="">
        <div class="jumprope-content jumprope-part2-desc">
          <p class="jumprope-word">
            Our team aims to make workout a seamlessly enjoyable experience. However, traditional jumping rope is far from being seamless or enjoyable. It’s tiring and boring instead as you have to jump while keeping the count. To make this popular exercise as simple as it should be, we created this smart rope that takes all the metrics for you while you are jumping. You can easily access all the data including jump count, calories burned, and duration from SkipJoy app which also pushes you further to unlock more awards and challenge other users.
          </p>
          <img class="jumprope-pic jumprope-pic-part2" src="./img/jumprope_pic-title-p2.png" alt="">
        </div>
      </div>
      <div class="jumprope-part jumprope-part3">
        <img class="jumprope-pic" src="./img/jumprope_pic-title-p3.png" alt="">
        <div class="jumprope-content">
          <div class="swiper-container jumprope-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img class="jumprope-pic" src="./img/jumprope_pic-p3-1.png" alt="">
                  <p class="jumprope-swiper-desc">
                    This jump rope connects to the SkipJoy mobile app (iOS, Android) via Bluetooth to tell you about your cardio exercise.
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="jumprope-pic" src="./img/jumprope_pic-p3-2.png" alt="">
                  <p class="jumprope-swiper-desc">
                    SkipJoy app keeps track of workout data: jump count, calories burned, and time spent jumping
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="jumprope-pic" src="./img/jumprope_pic-p3-3.png" alt="">
                  <p class="jumprope-swiper-desc">
                    Stay motivated to jump rope by unlocking awards, doing interval trainings, and challenging other Smart Rope users to ever more intense cardio exercises.
                  </p>
                </div>
                <div class="swiper-slide">
                  <img class="jumprope-pic" src="./img/jumprope_pic-p3-4.png" alt="">
                  <p class="jumprope-swiper-desc">
                    The rope itself is completely adjustable; it is powered by a built-in rechargeable battery that can last up to 30 days of daily use.
                  </p>
                </div>
            </div>
          </div>
        </div>
        <script>
          var mySwiper = new Swiper ('.jumprope-swiper.swiper-container', {
            watchSlidesProgress: true,
            slidesPerView: 'auto',
            centeredSlides: true,
            loop: true,
            loopedSlides: 3,
            autoplay: true,
            spaceBetween: 20,
          })
        </script>
      </div>
      <div class="jumprope-part jumprope-part4">
        <img class="jumprope-pic" src="./img/jumprope_pic-p4.jpg" alt="">
      </div>
      <div class="jumprope-part jumprope-part5">
        <img class="jumprope-pic" src="./img/jumprope_pic-title-p5.png" alt="">
        <p class="jumprope-content jumprope-word">
          Jumping rope is a plyometric style full-body workout that is excellent for developing, power, speed and endurance. In a simple 10 minutes rope jumping, an average person could burn about 200 calories, the calories consumption of which is equal to 30 minutes of running at a 5.7 mph pace according to The Research Quarterly, a journal of the American Association for Health. 
        </p>
      </div>
      <div class="jumprope-part jumprope-part6">
        <img class="jumprope-pic" src="./img/jumprope_pic-p6.jpg" alt="">
        <ul class="jumprope-list jumprope-content">
          <li class="jumprope-list-item">
            Tones your calves & tightens your core
          </li>
          <li class="jumprope-list-item">
             Improves your lung capacity & builds <br> stamina
          </li>
          <li class="jumprope-list-item">
            Takes all metrics: calories, count and <br> duration
          </li>
          <li class="jumprope-list-item">
            Pushes you to unlock awards and <br> challenge other users
          </li>
        </ul>
      </div>
      <div class="jumprope-part jumprope-part7">
        <img class="jumprope-pic" src="./img/jumprope_pic-p7.jpg" alt="">
        <div class="jumprope-params jumprope-content">
          <img class="jumprope-pic" src="./img/jumprope_pic-title-p7.png" alt="">
          <ul class="jumprope-params-list">
            <li class="jumprope-params-item">
              <p class="jumprope-params-label">Size</p>
              <p class="jumprope-params-desc">
                H150 x D26mm
              </p>
            </li>
            <li class="jumprope-params-item">
              <p class="jumprope-params-label">Length</p>
              <p class="jumprope-params-desc">
                3000mm 
              </p>
            </li>
            <li class="jumprope-params-item">
              <p class="jumprope-params-label">Weight</p>
              <p class="jumprope-params-desc">
                245g
              </p>
            </li>
            <li class="jumprope-params-item">
              <p class="jumprope-params-label">Connnect</p>
              <p class="jumprope-params-desc">
                Bluetooth 4.2 
              </p>
            </li>
            <li class="jumprope-params-item">
              <p class="jumprope-params-label">LCD display</p>
              <p class="jumprope-params-desc">
                19.6 x 8.1mm
              </p>
            </li>
            <li class="jumprope-params-item">
              <p class="jumprope-params-label">Battery</p>
              <p class="jumprope-params-desc">
                60mAh Rechargeable <br> Lithium Battery
              </p>
            </li>
            <li class="jumprope-params-item">
              <p class="jumprope-params-label">Input</p>
              <p class="jumprope-params-desc">
                USB-C
              </p>
            </li>
          </ul>
        </div>
      </div>
      <div class="jumprope-part jumprope-footer">
        <p class="jumprope-footer-title jumprope-content">APP Installation</p>
        <div class="jumprope-footer-btn jumprope-content">
          <a class="jumprope-footer-link" href="javascript:void(0)">
            <img class="jumprope-pic jumprope-pic-link" src="./img/jumprope_pic-btn-google.png" alt="">
          </a>
          <a class="jumprope-footer-link" href="javascript:void(0)">
            <img class="jumprope-pic jumprope-pic-link" src="./img/jumprope_pic-btn-appstore.png" alt="">
          </a>
        </div>
        <p class="jumprope-footer-desc jumprope-content">
          Available on Apple iOS and Android Smartphones.<br>
          Please search for "<b>SkipJoy</b>" in the <b>App Store</b> or <b>Play Store</b>.
        </p>
        <div class="jumprope-footer-btn jumprope-content">
          <a class="jumprope-footer-link" href="javascript:void(0)">
            <img class="jumprope-pic jumprope-pic-health" src="./img/jumprope_pic-btn-health.png" alt="">
          </a>
        </div>
        <p class="jumprope-footer-desc jumprope-content">
          Syncs with <b>Apple Health</b> and <b>Google Fit</b>.
        </p>
      </div>
   </div>
{% endblock %}