<div class="page details-2">
  <!-- 背景 -->
  <div class="details-bg"></div>
  <!-- 左星球 -->
  <div class="details-planet1"></div>
  <!-- 右星球 -->
  <div class="details-planet2"></div>
  <!-- logo -->
  <div class="logo"></div>
  <!-- 提问框 -->
  <div class="details-dialogue">
    <!-- 机器人 -->
    <div class="details-dialogue-robote"></div>
    <!-- 提问框 -->
    <div class="details-dialogue-content details-dialogue-content2">
      <p>你了解“云上好案例”大赛吗?</p>
    </div>
    <!-- ufo -->
    <div class="details-dialogue-ufo details-dialogue-ufo2"></div>
  </div>
  <!-- 文字 -->
  <div class="details-2-title"></div>
  <!-- 按钮 -->
  <div class="details-2-btn">立刻了解</div>
</div>