<div class="page details-tenth show">
  <!-- 背景 -->
  <div class="details-tenth-bg"></div>
  <div class="index-bg"></div>
  <!-- logo -->
  <div class="logo"></div>
  <!-- 球 -->
  <div class="index-ball"></div>
  <!-- 提问框 -->
  <div class="details-dialogue">
    <!-- 机器人 -->
    <div class="details-dialogue-robote"></div>
    <!-- 提问框 -->
    <div class="details-dialogue-content">
      <p class="details-dialogue-title">——&nbsp;活动详情&nbsp;——</p>
      <p class="details-dialogue-p">活动对象：腾讯云全体合作伙伴</p>
    </div>
    <!-- ufo -->
    <div class="details-dialogue-ufo"></div>
  </div>
  <div class="details-tenth-list details-tenth-list1">
    <div class="details-tenth-btn"></div>
    <div class="details-tenth-text">腾讯云杯·合作伙伴案例征集大赛，是腾讯云面向全球合作
      伙伴举办的一场优质案例评选大赛，旨在帮助合作伙伴传
      播案例及解决方案。案例入选企业不仅能获得腾讯云独家
      品牌宣传，更有万元大奖等你来拿。</div>
  </div>
  <div class="details-tenth-list details-tenth-list2">
    <div class="details-tenth-btn2"></div>
    <div class="details-tenth-item">
      <div class="details-tenth-line">
        <div class="details-tenth-red"></div>
        <div class="details-tenth-circle"></div>
        <div class="details-tenth-circle"></div>
        <div class="details-tenth-circle"></div>
      </div>
      <div class="details-tenth-text">2020.04.20-05.08 海选概念投稿，评选入围50个案例。
        2020.05.18-05.29 初赛完成案例PPT，50进20评选。
        2020.06.08 -06.12 决赛线上评选出最佳、杰出、优秀案例。</div>
    </div>
  </div>
  <!-- 下拉箭头 -->
  <div class="details-bottom">
    <div class="details-arrow"></div>
  </div>
</div>