<div class="page details-ani details-answer show">
  <!-- 背景图 -->
  <div class="details-bg"></div>
  <!-- 左星球 -->
  <div class="details-planet1"></div>
  <!-- 右星球 -->
  <div class="details-planet2"></div>
  <!-- logo -->
  <div class="logo"></div>
  <!-- 提问框 -->
  <div class="details-dialogue">
    <!-- 机器人 -->
    <div class="details-dialogue-robote"></div>
    <!-- 机器人手 -->
    <div class="details-dialogue-hand"></div>
    <!-- 提问框 -->
    <div class="details-dialogue-content">
      <p class="details-dialogue-p">你可以提交哪些类型的参赛案例?</p>
      <p>有代表性、可大规模复制的[腾讯云公有云]
        案例都可以参加，推荐优选方案场景如下:</p>
    </div>
    <!-- ufo -->
    <div class="details-dialogue-ufo"></div>
  </div>
  <!-- 选择项 -->
  <div class="details-answer-list">
    <div class="details-answer-item">
      <div class="details-answer-icon icon-1">A</div>
      <div class="details-answer-options">
        <div class="details-answer-title">腾讯云AI应用案例</div>
      </div>
    </div>
    <div class="details-answer-item">
      <div class="details-answer-icon icon-2">B</div>
      <div class="details-answer-options">
        <div class="details-answer-title">腾讯云音视频案例</div>
      </div>
    </div>
    <div class="details-answer-item">
      <div class="details-answer-icon icon-3">C</div>
      <div class="details-answer-options">
        <div class="details-answer-title">腾讯云安全案例</div>
      </div>
    </div>
    <div class="details-answer-item">
      <div class="details-answer-icon icon-4">D</div>
      <div class="details-answer-options">
        <div class="details-answer-title">腾讯云小程序云开发案例</div>
      </div>
    </div>
  </div>
  <!-- 提示文字 -->
  <div class="details-answer-desc">温馨提示：除以上热门场景，其他类型案例均可报名参赛～</div>
</div>