<div class="page details-nine">
  <!-- 背景图 -->
  <div class="details-bg"></div>
  <!-- 左星球 -->
  <div class="details-planet1"></div>
  <!-- 右星球 -->
  <div class="details-planet2"></div>
  <!-- logo -->
  <div class="logo"></div>
  <!-- 文字 -->
  <div class="details-nine-title"></div>
  <!-- 按钮 -->
  <div class="details-nine-btn">马上开启</div>
</div>
<!-- 弹窗 -->
<div class="modal" id="ewm">
  <div class="modal-bg"></div>
  <div class="modal-content">
    <div class="modal-body">
      <!-- 关闭按钮 -->
      <div class="modal-close"></div>
      <!-- 二维码 -->
      <div class="modal-ewm"><img src="./img/detail_9_ewm.png" alt=""></div>
      <!-- ufo -->
      <div class="modal-ufo"></div>
    </div>
  </div>
</div>