<!-- 详情页-1，你选什么 -->
<div class="page details-1">
  <!-- 背景 -->
  <div class="details-bg"></div>
  <!-- 左星球 -->
  <div class="details-planet1"></div>
  <!-- 右星球 -->
  <div class="details-planet2"></div>
  <!-- logo -->
  <div class="logo"></div>
  <!-- 文字 -->
  <div class="details-1-text">
    <!-- ufo -->
    <div class="details-dialogue-ufo details-dialogue-ufo0"></div>
  </div>
  <!-- 按钮 -->
  <div class="details-1-btns">
    <a class="details-1-btns-item details-btns-1" href="javascript:void(0);">让我纠结一下，都好吸引</a>
    <a class="details-1-btns-item details-btns-2" href="javascript:void(0);">小孩子才做选择，我都要</a>
  </div>
</div>