<!-- 详情页8 -->
<div class="page details-ani details-8 show">
  <div class="details-bg">
    <!-- 右星球 -->
    <div class="details-planet2"></div>
  </div>
  <!-- 左星球 -->
  <div class="details-planet1"></div>
  <div class="logo"></div>
  <!-- 提问框 -->
  <div class="details-dialogue details-8-dialogue">
    <!-- 机器人 -->
    <div class="details-dialogue-robote"></div>
    <!-- 提问框 -->
    <div class="details-dialogue-content">
      <p class="details-dialogue-8-p details-dialogue-8-p-1">拿到大奖的小秘诀:</p>
      <p class="details-dialogue-8-p details-dialogue-8-p-2">案例内容要和腾讯云强关联喔！！！</p>
    </div>
    <!-- ufo -->
    <div class="details-dialogue-ufo"></div>
  </div>
  <div class="details-8-title"></div>
  <!-- 奖品列表 -->
  <div class="details-8-gifts">
    <div class="details-8-gifts-item">
      <!-- 奖品图片尺寸： 200 x 140px -->
      <div class="details-8-gifts-pic">
        <img src="./img/detail_8_gift_1.png" alt="">
      </div>
      <div class="details-8-gifts-info">
        <!-- 名称和名次 -->
        <div class="details-8-gifts-info-top">
          <div class="details-8-gifts-info-top-title">最佳案例</div>
          <div class="details-8-gifts-info-top-num"><span class="details-8-gifts-info-top-num1">2</span><span
              class="details-8-gifts-info-top-num2">名</span></div>
        </div>
        <!-- 信息说明 -->
        <div class="details-8-gifts-info-desc">价值约1万元奖品+定制公仔+奖杯
          (Apple MacBook Pro)</div>
      </div>
    </div>
    <div class="details-8-gifts-item">
      <!-- 奖品图片尺寸： 200 x 140px -->
      <div class="details-8-gifts-pic">
        <img src="./img/detail_8_gift_2.png" alt="">
      </div>
      <div class="details-8-gifts-info">
        <!-- 名称和名次 -->
        <div class="details-8-gifts-info-top">
          <div class="details-8-gifts-info-top-title">杰出案例</div>
          <div class="details-8-gifts-info-top-num"><span class="details-8-gifts-info-top-num1">3</span><span
              class="details-8-gifts-info-top-num2">名</span></div>
        </div>
        <!-- 信息说明 -->
        <div class="details-8-gifts-info-desc">价值约5000元奖品+定制公仔
          +奖杯 （华为Mate 30）</div>
      </div>
    </div>
    <div class="details-8-gifts-item">
      <!-- 奖品图片尺寸： 200 x 140px -->
      <div class="details-8-gifts-pic">
        <img src="./img/detail_8_gift_3.png" alt="">
      </div>
      <div class="details-8-gifts-info">
        <!-- 名称和名次 -->
        <div class="details-8-gifts-info-top">
          <div class="details-8-gifts-info-top-title">优秀案例</div>
          <div class="details-8-gifts-info-top-num"><span class="details-8-gifts-info-top-num1">5</span><span
              class="details-8-gifts-info-top-num2">名</span></div>
        </div>
        <!-- 信息说明 -->
        <div class="details-8-gifts-info-desc">价值约3000元奖品+定制公仔
          +奖杯 （Apple iPad）</div>
      </div>
    </div>
    <div class="details-8-gifts-item">
      <!-- 奖品图片尺寸： 200 x 140px -->
      <div class="details-8-gifts-pic">
        <img src="./img/detail_8_gift_4.png" alt="">
      </div>
      <div class="details-8-gifts-info">
        <!-- 名称和名次 -->
        <div class="details-8-gifts-info-top">
          <div class="details-8-gifts-info-top-title">入围案例</div>
          <div class="details-8-gifts-info-top-num"><span class="details-8-gifts-info-top-num1">50</span><span
              class="details-8-gifts-info-top-num2">名</span></div>
        </div>
        <!-- 信息说明 -->
        <div class="details-8-gifts-info-desc">定制电脑包+定制公仔</div>
      </div>
    </div>
  </div>
  <!-- 按钮 -->
  <div class="details-8-btn">我要报名</div>
</div>