<div class="page details-ani details-answer-1 show">
  <!-- 背景图 -->
  <div class="details-bg"></div>
  <!-- 左星球 -->
  <div class="details-planet1"></div>
  <!-- 右星球 -->
  <div class="details-planet2"></div>
  <!-- logo -->
  <div class="logo"></div>
  <!-- 提问框 -->
  <div class="details-dialogue">
    <!-- 机器人 -->
    <div class="details-dialogue-robote"></div>
    <!-- 机器人手 -->
    <div class="details-dialogue-hand"></div>
    <!-- 提问框 -->
    <div class="details-dialogue-content">
      <p class="details-dialogue-p"></p>
    </div>
    <!-- ufo -->
    <div class="details-dialogue-ufo"></div>
  </div>
  <!-- 选择项 -->
  <div class="details-scenes-list"></div>
  <!-- 下拉箭头 -->
  <div class="details-bottom">
    <div class="details-arrow"></div>
    <p>上滑解锁全场景</p>
  </div>
</div>