<!-- index页面 -->
<div class="page index show">
  <!-- 背景 -->
  <div class="index-bg"></div>
  <!-- logo -->
  <div class="logo"></div>
  <!-- 星星 -->
  <div class="index-star"></div>
  <!-- 球 -->
  <div class="index-ball"></div>
  <!-- 文案 -->
  <div class="index-title"></div>
  <!-- 宇航员 -->
  <div class="index-aerospace"></div>
  <!-- 我要参赛按钮 -->
  <div class="index-btn">我要拿大奖</div>
</div>